.register__container{
    margin: 4rem 0;
    flex: 0.47;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
}
.register__container__inside__title{
    font-size: 35px;
    font-family: 'Vazirmatn', sans-serif;
    margin-bottom: 2rem;
}
.register-form .input-style{
    margin-bottom: 1.5rem;
}
.register-form button{
    background: #525fe1;
    background: var(--color-primary);
    border: 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    transition: .4s;
    width: 100%;
    margin-top: 2rem;
}
.register__agreemnet input{
    background: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #6f6b80;
    color: var(--color-body);
    font-weight: 500;
    height: 60px;
    padding: 0 25px;
    margin-left: 10px;
}
.register__agreemnet{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}